body {
    background: rgb(248, 168, 20);
    margin-left: 80px;
    margin-right: 200px;
}

header {
    margin-top: 70px;
}

h1 {
    color: rgb(37, 37, 165);
    font-family: calibri;
}

h2 {
    font-family: calibri;
}

h3{
    color: rgb(59, 59, 221);
    font-family: arial;
    font-size: 22px; 
}

p {
    font-size: 18px;
}

footer{
    margin-bottom: 50px;
}

.img_padrao {
    margin-bottom: 30px;
    width: 100px;
}
